.header-container {
    display: flex;
    justify-content: space-around;
    align-items: center;
    padding-block: 3rem;
    width: 100%;
    height: 10vh;
    background-color: aliceblue;
}

.logo {
    width: 5rem;
    height: auto;
    cursor: pointer;
}

.menu {
    display: flex;
    justify-content: center;
    align-items: center;
}

.menu button {
    margin-inline: 1rem;
}

.header-container .active {
    background-color: cornflowerblue;
    color: white;
}

.menu-toggle {
    display: none;
}

@media only screen and (max-width: 768px) {
    .menu-toggle {
        display: flex;
        position: fixed;
        top: 1rem;
        left: 1rem;
        font-size: 1.5rem;
        cursor: pointer;
    }

    .menu {
        display: flex;
        flex-direction: column;
        justify-content: center;
        align-items: center;
        position: fixed;
        top: 0;
        left: -12rem;
        width: 12rem;
        height: 100%;
        background-color: cornflowerblue;
        box-shadow: 2px 0 5px rgba(0, 0, 0, 0.1);
        transition: left 0.3s ease-in-out;
        z-index: 1;
    }

    .menu.open {
        left: 0;
    }

    .menu button {
        margin-block: 1rem;
    }
}
